.main-body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12px;

    .block {
        width: 97%;
        background: rgb(223, 223, 223);
        border-radius: 10px;
        padding: 12px 24px;
    }
}